<%= form_with(model: encodingtest) do |form| %>
  <% if encodingtest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(encodingtest.errors.count, "error") %> prohibited this encodingtest from being saved:</h2>

      <ul>
        <% encodingtest.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
