<p id="notice"><%= notice %></p>
<%= image_tag "data:image/jpeg;base64,#{@encodingtest.image}" %>


<%= link_to 'Edit', edit_encodingtest_path(@encodingtest) %> |
<%= link_to 'Back', encodingtests_path %>
